<style>
  html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .4);
  }

  #tour {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
</style>
<div id="tour"></div>
<script>
  window.sides = [
    {
      url: '/panorama/images/room1/px.jpg',
      position: [-512, 0, 0],
      rotation: [0, Math.PI / 2, 0]
    },
    {
      url: '/panorama/images/room1/nx.jpg',
      position: [512, 0, 0],
      rotation: [0, -Math.PI / 2, 0]
    },
    {
      url: '/panorama/images/room1/py.jpg',
      position: [0, 512, 0],
      rotation: [Math.PI / 2, 0, Math.PI]
    },
    {
      url: '/panorama/images/room1/ny.jpg',
      position: [0, -512, 0],
      rotation: [-Math.PI / 2, 0, Math.PI]
    },
    {
      url: '/panorama/images/room1/pz.jpg',
      position: [0, 0, 512],
      rotation: [0, Math.PI, 0]
    },
    {
      url: '/panorama/images/room1/nz.jpg',
      position: [0, 0, -512],
      rotation: [0, 0, 0]
    }
  ];
</script>
<script src="/js/three.min.js"></script>
<script src="/js/DeviceOrientationControls.min.js"></script>
<script src="/js/CSS3DRenderer.min.js"></script>
<script src="/js/tour.min.js"></script>