.popup
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  z-index: 10000
  background: rgba(0, 0, 0, .4)
  overflow-y: scroll
  margin-right: -20px
  padding-right: 20px
  &__inner
    margin: 3rem auto
    position: absolute
    padding: 1.5rem 0
    //top: 0
    max-width: calc(100% - 4rem)
    //left: 0
    //right: 0
    background: #fff
    overflow: hidden
  &__header
    margin-bottom: 1rem
    &__title
      color: #e49724
      font-weight: bold
      font-size: 25px
      line-height: 42px
    &__close
      display: inline-block
      color: #e49724
      font-size: 42px
      line-height: 42px
      transform: rotate(45deg)
      cursor: pointer
      float: right
  &__content
    @media (min-width: 1024px)
      text-align: justify
