.header__menu
  height: auto
  transition: .3s ease-in-out background-color
  background: #414141
  position: fixed
  width: 100%
  top: 0
  z-index: 1000
  @media (min-width: 800px)
    background: transparent
    height: 80px
    &_scroll
      background: rgba(0, 0, 0, .6)
      height: 60px
      position: fixed
  &__list
    display: none
    height: 100%
    width: 100%
    margin: 0 auto
    padding: 0
    flex-direction: row
    justify-content: center
    align-items: center
    list-style-type: none
    &_show
      display: flex
      flex-direction: column
      padding-bottom: 1rem
    @media (min-width: 800px)
      display: flex
  &__item
    padding: .5rem 0
    @media (min-width: 800px)
      padding: 0 1rem
  &__link
    font-family: IBM Plex Sans, sans-serif
    font-weight: 500
    font-size: 18px
    color: #fff
    text-decoration: none
    transition: .1s ease-in-out opacity, .1s ease-in-out color
    &:hover
      color: #ffffff
      opacity: .6
    &_active, &:active
      color: #e49724
      opacity: 1
  &__collapse
    float: right
    margin: 18px
    cursor: pointer
    transition: .1s ease-in-out opacity
    &_show
      opacity: .2
    @media (min-width: 800px)
      display: none
  &__logo
    margin: 0.5rem
    @media (min-width: 800px)
      display: none