.stocks__slider
  &__item
    position: relative
    max-width: 100%
    margin: auto
    &:focus
      outline: none
    @media (min-width: 1024px)
      max-width: 800px
  &__img
    border-radius: .5rem
    width: 90%
    margin: auto
  &__content
    width: 90%
    margin: auto
    bottom: 40px
    left: 0
    right: 0
  &__title
    margin: 1.5rem 0 0.25rem
    font-weight: 600
    line-height: normal
    font-size: 16px
    color: #e49724
    @media (min-width: 1024px)
      font-size: 25px
  &__description
    margin: 0
    padding: 0
    font-weight: 500
    line-height: normal
    font-size: 14px
    text-align: center
    color: #414141
    @media (min-width: 1024px)
      font-size: 18px

.stocks
  .slick-slide
    opacity: .3
    transition: .2s ease-in-out opacity
    &.slick-active
      opacity: 1