@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"

.stocks
  overflow: hidden
  text-align: center
  margin-bottom: 2rem
  &__slider
    width: 100%
    margin: auto
    position: relative
  &.slick-dots li.slick-active button:before
    color: #e49724
    width: 16px
    height: 16px