.services__item
  margin: 3rem auto 2rem
  text-align: center
  max-width: 200px
  min-width: 160px
  padding: 1rem
  background: #fff
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.32)
  border-radius: .5rem
  @media (min-width: 1024px)
    max-width: 215px
    min-width: 180px
  &__name
    font-weight: bold
    font-size: 16px
    height: 60px
    color: #e49724
    @media (min-width: 1024px)
      font-size: 18px
      height: 80px
  &__times
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    height: 100px
    @media (min-width: 1024px)
      height: 120px
  &__time
    padding: 4px 18px
    border: 2px solid transparent
    font-weight: 500
    font-size: 14px
    color: #414141
    border-radius: .25rem
    width: auto
    margin: .25rem 0
    cursor: pointer
    line-height: 1
    transition: .1s ease-in-out border, .1s ease-in-out background-color, .1s ease-in-out color
    &:hover
      border: 2px solid #e49724
      background: #fff
      color: #e49724
    &_active, &:active
      border: 2px solid #e49724
      background: #e49724
      color: #fff
    @media (min-width: 1024px)
      font-size: 16px
      padding: 6px 21px

  &__more
    margin-top: 40px
    font-weight: 500
    font-size: 14px
    color: #414141
    transition: .1s ease-in-out color
    cursor: pointer
    &:hover
      color: #e49724
    @media (min-width: 1024px)
      font-size: 16px
      margin-top: 50px
  &__price
    margin-top: 1rem
    font-weight: 600
    font-size: 22px
    color: #e49724
    @media (min-width: 1024px)
      font-size: 25px