.header
  background: url("../../img/header.jpg") center center no-repeat / cover
  height: 60vh
  min-height: 300px
  position: relative
  @media (min-width: 800px)
    height: 95vh
    min-height: 500px
    &__logo
      position: absolute
      width: 500px
      height: 250px
      margin: auto
      top: 0
      left: 0
      right: 0
      bottom: 20px
      background: url("../../img/header-logo.svg") center center no-repeat / contain