.gallery
  text-align: center
  padding-bottom: 2rem
  &__row
    align-items: stretch
  &__main__img
    width: 100%
  &__thumb
    cursor: pointer
    padding: 0 5px
    @media (min-width: 768px)
      padding: 0
  &__3d
    margin-top: 2rem
    padding: 8px 38px
    font-weight: 500
    font-size: 18px
    text-align: center
    color: #fff
    background: #e49724
    border-radius: .25rem
    cursor: pointer
    transition: .2s ease-in-out box-shadow
    &:hover
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.32)
  .slick-slide
    padding: 0 2px
