.tour
  &__frame
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    z-index: 5000
    border: none

  &__close
    z-index: 6000
    position: fixed
    top: 1rem
    right: 1rem
    font-size: 2rem
    color: #fff
    cursor: pointer
    text-decoration: underline
    display: none
    &_active
      display: block