.footer
  background: #414141
  text-align: center
  padding: 2rem 0
  &__phone
    font-weight: bold
    line-height: normal
    font-size: 18px
    text-decoration: none
    color: #fff
    transition: .1s ease-in-out opacity
    &:hover
      opacity: 0.5
    @media (min-width: 1024px)
      font-size: 25px
  &__soc
    margin: 1rem 0 0
    &__item
      display: inline-block
      margin: 0 .5rem
      transition: .1s ease-in-out opacity
      width: 24px
      &:hover
        opacity: .5
      @media (min-width: 1024px)
        width: 32px
        margin: 0 1rem
    &__svg
      width: 100%