.certificates
  &__p
    font-weight: 500
    font-size: 16px
    color: #414141
    @media (min-width: 1024px)
      font-size: 18px
  &__img
    max-width: 100%
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.32)