html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  background: #fff6f6;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #000;
  margin: 1.5rem 0 1.5rem;
}

.context-link {
  color: #e49724;
  text-decoration: none;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 45px;
    margin: 3rem 0 3rem;
  }
}