.contacts
  position: relative
  text-align: center
  &__h2
    position: absolute
    margin: 0 auto
    left: 0
    right: 0
    top: 2rem
    font-weight: bold
    line-height: normal
    font-size: 25px
    text-align: center
    color: #fff
    z-index: 999
    text-shadow: 0 0 1rem #000
    @media (min-width: 1024px)
      font-size: 45px
  &__btn
    position: absolute
    margin: 0 auto
    width: 180px
    left: 0
    right: 0
    bottom: 1.6rem
    padding: 8px 27px
    font-weight: 500
    line-height: normal
    font-size: 18px
    text-align: center
    color: #fff
    background: #e49724
    border-radius: .25rem
    border: 0
    cursor: pointer
    transition: .2s ease-in-out box-shadow
    &:hover
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.32)
    @media (min-width: 1024px)
      font-size: 27px
      padding: 12px 50px
      width: 300px