.services__group
  border-bottom: 2px solid rgba(228, 151, 36, 0.2)
  overflow: hidden
  padding: 14px 0
  &__name
    font-weight: 600
    font-size: 22px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    line-height: 30px
    color: #e49724
    cursor: pointer
    @media (min-width: 1024px)
      font-size: 2rem
      line-height: 52px
  &__btn
    display: inline-block
    min-width: 33px
    min-height: 33px
    max-width: 33px
    max-height: 33px
    border: 2px solid #e49724
    color: #e49724
    font-size: 23px
    line-height: 24px
    text-align: center
    border-radius: 50%
    transition: .3s ease-in-out transform, .3s ease-in-out background, .3s ease-in-out color
    cursor: pointer
    @media (min-width: 1024px)
      max-width: 52px
      max-height: 52px
      font-size: 52px
      line-height: 42px
    &_hover
      background: #e49724
      color: #fff
    &_active
      transform: rotate(45deg)
      background: #e49724
      color: #fff
  &__items
    box-sizing: border-box
    height: 0
    overflow: hidden
    transition: .3s ease-in-out height
    &_active
      height: 400px